*{
    margin: 0%;
    padding: 0%;
    font-family: 'Raleway', sans-serif;
}
body{
    background-color: #f0eded;
}
/*INICIO DO HEADER*/
header{
    padding: 10px;
    padding-left: 20px;
    background-color: #8caf8c;
    display: flex; 
    justify-content: space-between;  /*coluna*/
    align-items: center; /*linha*/
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.logo{
    width: 50px;
    height: 50px;
    border-radius: 90px;
    
}
.navbar ul{
    list-style-type: none;
}
.navbar li{
    display: inline;
    margin: 5px;
    /*background-color: beige;*/
}
.navbar a{
    text-decoration: none;
    color: black;
    justify-content: end;
}
.navbar ul li:hover{
    border-radius: 3px;
    margin: 7px;
    background-color: #8caf8c;
    padding: 5px;
    box-shadow: 1px black;
}
/*FIM HEADER*/

/*INICIO MAIN*/

/*INICIO CONTENT*/
.controller{
    justify-content: center;
}
.content{
    background-color: #5f7e5f;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 250px;
    display: flex;
    justify-content: space-around;
}
.logo2 img{
    width:200px;
    height: 200px;
    margin: 22px;    
}
.slider{
    background-color: #D9D9D9;
    width: 400px;
    height: 200px;
    margin: 22px;
    overflow: hidden;
}
.slides{
    width: 200%;
    height: 200px;
    display: flex;
}
.slides input{
    display: none;
}
.slide{
    width: -200%;
    position: relative;
    transition: 2s;
}
.slide img{
    width: 400px;
}
.manual-navigation{
    position: absolute;
    width: 359px;
    margin-top: 180px;
    display: flex;
    justify-content: center;
}
.manual-btn{
    border: 2px solid #f0eded;
    padding: 3px;
    border-radius: 10px;
    cursor: pointer;
    transition: .05s;
}
.manual-btn:not(:last-child){
    margin-right: 20px;
}
.manual-btn:hover{
    background-color: #f0eded;
}
#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -50%;
}
#radio3:checked ~ .first{
    margin-left: -100%;
}
#radio4:checked ~ .first{
    margin-left: -150%;
}
/*FIM CONTENT*/

/*INICIO CARDS*/
.cards{
    display: flex;
    padding-top: 35px;
    padding-bottom: 35px;
    margin: auto;
    max-width: 845px;    
    flex-wrap: wrap; /*quebra a linha dps que passa do limite*/
    justify-content: center;    
}
.card{
    width: 185px;
    height: 300px;
    margin: 10px;

    background-color: #5f7e5f;
    box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    text-align: center;
}
.cards .card:hover{
    padding: 7px;
    background-color: #8caf8c;
    box-shadow: 1px black;
}

.card img{
    width: 140px;
    height: 140px;
    margin: 5px;
    padding: 5px;
}

.card h1{
    font-size: 14px;
}

.card h3{
    font-size: 13px;
    line-height: 30px;
}
.card p{
    font-size: 13px;
    margin: 3px;
}
.card button{
    font-size: 10px;
    margin: 5px;
    height: 23px;
    margin-top: 10px;
    padding: 3px;
    background-color: antiquewhite;
    border: 1px solid antiquewhite;
    box-shadow: 7px 3px 7px rgba(2, 1, 1, 0.25);
    border-radius: 3px;
}
.card button:hover{
    margin: 7px;
    background-color: #8caf8c;
    box-shadow: 1px black;
}
/*FIM CARDS*/

footer{
    bottom: 0;
    height: 95px;
    background-color: #8caf8c;
    display: flex; 
    justify-content: center;  /*coluna*/
    align-items: center; /*linha*/
}
footer ul{
    list-style-type: none;
}
footer li{
    margin: 20px;
    align-items: center;
    display: inline;
}
.contatofooter img{
    height: 25px;
    width: 25px;
}

